@page
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Acerca De</title>
    <style>
        .colored-text {
            color: #3498db; /* Color azul */
        }

        .bold-text {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <!-- Insertar una imagen -->
            <img src="images/sek.png"/>
            <p>La universidad Sek fue creada en 1993.</p>

            <!-- Texto en color y texto en negrita -->
            <p>David Chamorro es un estudiante de la <span class="bold-text">Universidad Internacional Sek</span>.</p>
            <p>Puedes conocer más de él <a href="https://www.canva.com/design/DAGBTlaTGnA/3kWYnBjfm06243cwWTLX3Q/view?utm_content=DAGBTlaTGnA&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=ha926554998" class="colored-text">aquí</a>.</p>
        </div>
    </form>
</body>
</html>


