@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta es una página web de prueba para la APE 10 de programación avanzada.</p>
</div>
